$primary-bg: black;
$primary-text: #3498db;

*{
	/* all: unset; */
	font-family: FiraCode Nerd Font Mono;
	font-family: DaddyTimeMono NF;
  background: transparent;
}

/* .curr-val { */
/*   font-size: 17pt; */
/* } */

.curr-container {
  min-width: 100px;
  min-height: 100px;
}

.curr-box {
  padding: 6px 0 1px 0;
  background: $primary-bg;
  border-radius: 15px;
}

.primary-text {
  color: $primary-text;
  font-size: 17pt;
}
.secondary-text {
  color: $primary-text;
  font-size: 12pt;
}

.icon-text {
  color: white;
}

.user-image {
  padding: 30px 20px;
  /* margin: 0 200px; */
}

.user-name {
  /* padding: 30px 0; */
  margin: 0 0px -15px 0px;
}

.outer-box {
  background: $primary-bg;
  border-radius: 15px;
}

.progress-bar {
	min-height: 40px;
	min-width: 250px;
  highlight { background-color: $primary-text; }
  trough { background-color: gray; }
}
