/* @import "../../.cache/wal/colors-waybar.css"; */

@define-color bar_bg rgba(56, 56, 85, 1);
/* @define-color bar_bg #6F86A5; */
@define-color accent rgba(84, 82, 155, 0.9);
@define-color tag_bg_focused rgba(84, 82, 155, 0.9);
@define-color tag_bg_hovered rgba(84, 82, 155, 0.5);
@define-color tag_bg_occupied rgba(84, 82, 155, 0.3);
@define-color text rgba(186, 194, 222, 1);
@define-color text_active rgba(255, 255, 255, 1);
@define-color text_inactive rgba(186, 194, 222, 0.5);
@define-color border_color rgba(255, 255, 255, .1);
@define-color warn_color rgba(255, 84, 83, 1);
@define-color transparent rgba(0, 0, 0, 0);

* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family:
    IosevkaLyteTerm,
    IosevkaLyteTerm Nerd Font,
    Iosevka Nerd Font,
    Inconsolata LGC Nerd Font Mono,
    FiraCode Nerd Font,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 9.5pt;
  min-height: 0;
}

window#waybar {
  background-color: @bar_bg;
  border-bottom: 0px;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.15s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#tags button,
#workspaces button {
  background-color: transparent;
  background: transparent;
  color: @text_inactive;
  padding: 0px 0px;
  margin: 0px -2px;
}

#tags button:hover,
#workspaces button:hover {
  background-color: @tag_bg_hovered;
  color: @text;
}

#tags button.urgent {
  color: @warn_color;
}

#tags button.occupied,
#workspaces button:not(.empty) {
  /* background-color: @tag_bg_occupied; */
  color: @text;
}

#tags button.focused,
#workspaces button.active {
  margin: 0px 0px;
  /* added here to prevent overlaping because of main */
  background-color: @tag_bg_focused;
  color: @text_active;
}

#layout,
#window {
  /* background-color: #64727d; */
  /* margin: 7px 0 7px 0; */
  padding: 0 0px 0 4px;
  color: @text;
  border-left: 2px solid @border_color;
}

#window {
  /* border-right: 2px solid @border_color; */
}

#custom-mako,
#clock,
#tray,
#mode,
#idle_inhibitor,
#mpris,
#bluetooth,
#mpd {
  padding: 0 7px;
  /* margin: 0 3.5px 0 3.5px; */
  /* margin: 0 4px; */
  color: @text;
}

#language,
#network,
#backlight,
#battery,
#pulseaudio {
  /* padding: 0 7px; */
  padding: 0 8px 0 2px;
  color: @text;
}

#mpd {
  padding: 0 4px 0 6px;
}

#tray {
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 0px;
  /* border: 2px solid rgba(255, 255, 255, .5); */
  border-left: 2px solid @border_color;
  border-right: 2px solid @border_color;
  /* background-color: rgba(43, 48, 59, 0.6); */
  /* border-bottom: 0px; */
}

#window {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#clock {
  /* color: #ffffff; */
  /* background-color: rgba(100, 114, 125, 0.92); */
}

#custom-torrents {
  background-color: #64727d;
}

#idle_inhibitor,
#language,
#bluetooth,
#battery {
  /* background-color: #e7e8eb; */
  color: @text;
  border-right: 2px solid @border_color;
}

#battery.charging,
#battery.plugged {
  color: @text;
  background-color: transparent;
  /* background-color: #26a65b; */
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging),
#battery.warning:not(.charging) {
  background-color: @transparent;
  color: @warn_color;
}

label:focus {
  background-color: #000000;
}

#backlight {
  /* color: #4c4f69; */
  /* background-color: #eff1f5; */
  color: @text;
  border-right: 2px solid @border_color;
}

#network {
  /* color: #000000; */
  color: @text;
  /* background-color: #b2ffff; */
  /* background-color: #00bfff; */
  /* background-color: #aaf0d1; */
  /* background-color: #74c7ec; */
  /* background-color: #0d98ba; */
  border-right: 2px solid @border_color;
  /* background-color: #2980b9; */
  /* background-color: #c32f2f; */
}

#network.disconnected {
  color: @warn_color;
  /* background-color: #f53c3c; */
}

#pulseaudio {
  /* background-color: #f1c40f; */
  border-right: 2px solid @border_color;
  /* color: #000000; */
  color: @text;
}

#pulseaudio.muted {
  /* background-color: #90b1b1; */
  /* color: #2a5c45; */
  color: @text_inactive;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  /* background-color: #eb4d4b; */
}

#custom-mako {
  /* background-color: #2d3436; */
  /* border-left: 2px solid rgba(255, 255, 255, .5); */
  border-left: 2px solid @border_color;
  border-right: 2px solid @border_color;
  color: @text;
}

#idle_inhibitor.activated {
  /* background-color: #ecf0f1; */
  color: @text_active;
}

#mpd {
  /* background-color: #66cc99; */
  /* color: #2a5c45; */
  /* border-right: 2px solid @border_color; */
}

#mpd.disconnected {
  /* background-color: #f53c3c; */
}

#mpd.stopped {
  /* background-color: #90b1b1; */
}

#mpd.paused {
  /* background-color: #51a37a; */
}

#bluetooth {
  /* background-color: #226699; */
  color: @text;
  padding: 0 10px;
  margin: 0 5px;
}

#idle_inhibitor {
  margin: 0 0px;
  padding: 0 10px 0 6px;
}

#idle_inhibitor.activated {
  color: @warn_color
}

/* box props */
#mpd,
#network,
#bluetooth,
#backlight,
#battery,
#pulseaudio,
#tray,
#layout,
#idle_inhibitor,
#bluetooth,
#language,
#clock {
  border-radius: 0px;
}

#clock {
  border-radius: 0px 0 0 0px;
  padding: 0 0px 0 3px;
  margin-right: 0px;
}
