/* TABS: height */
:root {
 --tab-toolbar-navbar-overlap: 0px !important; /* fix for full screen mode */
 --tab-min-height: 10px !important;
}
:root #tabbrowser-tabs {
 --tab-min-height: 10px !important;
 --tab-max-height: 10px !important;
}
/* .tabbrowser-tab { */
/*   min-height: 10px; */
/*   max-height: 10px; */
/* } */
#TabsToolbar {height: var(--tab-min-height) !important;}

#urlbar {font-size: 10px !important;}

.tab-background {
/* background: gray !important; */
border-radius: 0px !important; /* corners */
}

/* #urlbar {height: 17px !important} */
/**/
/* #nav-bar {height: 25px !important} */
/**/
.urlbar-input-box {font-size: 12px !important;}

/* #nav-bar .toolbarbutton-icon */
/* { */
/* width: 20px !important; */
/* height: 20px !important; */
/* max-width: 20px !important; */
/* max-height: 20px !important; */
/* } */
